[Unit]
Description=gunicorn daemon for kurulush project
Requires=gunicorn_kurulush.socket
After=network.target
[Service]
PermissionsStartOnly=True
User=edzen
Group=www-data
RuntimeDirectory=gunicorn
RuntimeDirectoryMode=0775
PIDFile=/run/gunicorn/pid
WorkingDirectory=/home/edzen/kurulush
ExecStart=/home/edzen/kurulush/env/bin/gunicorn \
--access-logfile /home/edzen/kurulush/logs/access.log \
--error-logfile /home/edzen/kurulush/logs/error.log \
--pid /run/gunicorn/pid \
--env DJANGO_SETTINGS_MODULE=kurulush.settings \
--workers 3 \
--bind unix:/run/gunicorn/kurulush_socket kurulush.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true[Install]
WantedBy=multi-user.target
